<h3>Sections</h3>
<nav>
	{{#each navigation.currentPage.sections}}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a href="#{{htmlID}}">{{title}}</a></h4>
		</div>
		{{#each schemas}}
		<div class="panel-body api-nav">
			<h5>{{title}}</h5>
			<ul class="nav nav-pills nav-stacked">
				{{#each links}}
				<li><a href="#{{htmlID}}">{{title}}</a></li>
				{{/each}}
			</ul>
		</div>
		{{/each}}
	</div>
	{{/each}}
</nav>
